.boritokep {
    height: 450px; /* A borítókép magassága valószínűleg 300px kéne, de akkor nagyon levágódik Phil feje, szóval lehet kellene új kép*/
    background-image: url('../img/borito/home.png');
    background-size: cover; /* A kép arányosan lefedi az elemet */
    background-position: top; /* Kép fentre igazítása, mert így kevésbé néz ki furán */
    background-repeat: no-repeat; /* Ne ismételje a képet */
    display: flex;

}

body {
    background-color: #949235;
}

.container {
    background-color: #f3f29d;
    text-align: center;
    width: 100%;
}

.film img {
position: cover;

}

.card-img-top2 {
    height: 500px; /* Egységes magasság  */

}

.card {
    border: none;
    display: block; /* ezzel sikerült beállítani azt hogy a kártyát rendesen közepén legyenek a containerben*/
}

.card-text {
    text-align: center;
}  

.card-text2 {
    text-align: justify;
} 
.dijak{
    text-align: left;
}
.dijak2{
    float: left;
}
.phillips{
    width: 80%;
    border-radius: 30px;
    border: 3px solid #949235; 
    margin: 1rem auto 1rem auto;
    text-align: justify;
   
}
.phillips img{
    width: 170px;
    float: right;
    padding-top: 1rem;
    
   
}#text{
    padding-right: 12rem;
}

#todd{
    border-bottom: 1px dashed #949235;
    text-align: center;
}
.masnaposok-3-h1 {
    text-align: left;
}
.masnaposok-3-h2 {
    text-align: left;
}

p {
    text-align: justify;
}
.carousel-item {
    justify-content: center; /* Horizontális középre igazítás */
} 

.carousel-control-prev {
    background-color: rgba(0, 0, 0, 0.5); /* Áttetsző fekete háttér */
    width: 50px; /* Szélesebb kattintható sáv */
    height: 100%; /* Fedi az egész karusszel magasságát */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5); /* Áttetsző fekete háttér */
    width: 50px; /* Szélesebb kattintható sáv */
    height: 100%; /* Fedi az egész carousel magasságát */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;}
    
    /* Áttetsző sáv hover-effekt */

.custom-control:hover {
    background-color: rgba(0, 0, 0, 0.3); /* Sötétebb háttér, ha az egér fölé kerül */
}