.boritokep {
    height: 450px; /* A borítókép magassága valószínűleg 300px kéne, de akkor nagyon levágódik Phil feje, szóval lehet kellene új kép*/
    background-image: url('../img/borito/home.png');
    background-size: cover; /* A kép arányosan lefedi az elemet */
    background-position: top; /* Kép fentre igazítása, mert így kevésbé néz ki furán */
    background-repeat: no-repeat; /* Ne ismételje a képet */
    display: flex;

}

body {
    background-color: #949235;
}

.container {
    background-color: #f3f29d;
    text-align: center;
    width: 100%;
}

.card {
    border: none;
    display: inline; /* ezzel sikerült beállítani azt hogy a kártyát rendesen közepén legyenek a containerben*/
}

.card-img-top2 {
    height: 400px; /* Egységes magasság */
    object-fit: cover; /* A kép levágása, hogy illeszkedjen a magassághoz */
}

.card-text {
    text-align: center;
}  

.card-text2 {
    text-align: justify;
}